<!-- adicionar na memoria temporaria -->
<h3>Adicionar valor na memoria temporária</h3>
<div>   

<form id="form_add_temporaria" name="form_add_temporaria" method="post" 
   action="control/index/adicionar_memoria.php">
<table width="509" border="0">

<tr>
<td width="499">
<label for="textarea">Valor:</label>
<textarea name="valor" id="valor" cols="80" rows="4"></textarea>
</td>
</tr>

<tr>
<td width="499">
<label for="textarea">Descrição:</label>
<textarea name="descricao" id="descricao" cols="80" rows="4"></textarea>
</td>
</tr>

<tr>
<td>
<input type="submit" name="button" id="button" value="Enviar" />      
<input type="hidden" name="painel" id="painel" value="2" /> 
</td>
</tr>
</table>
</form>
</div>
<!-- adicionar na memoria temporaria -->