<!-- Pilha de execução -->


<h3>Pilha de Execução</h3>
<div>

<form id="form_pilha" name="form_pilha" method="post" action="control/index/salvar_pilha.php">
<table width="100%" border="0" cellpadding="2" cellspacing="1">

<tr>
<td width="1%">Cod.</td>
<td>Descrição</td>
<td>Classe</td>
<td>Comando</td>
<td>Memoria</td>
<td>Usa Retorno?</td>
<td>Cima</td>
<td>Baixo</td>
<td>Excluir</td>
</tr>

<?
$parametros = 0;

if ( is_array($arrExecucaoTemp) )
{
   foreach( $arrExecucaoTemp as $execucao_temp_id => $execucao_temp_v )
   {
      ?>
      <tr>
      
      <td width="1%">
      <?
      echo $execucao_temp_v['id'];
      ?>
      </td>


      <td width="25%">
      <?
      echo $execucao_temp_v['ds_descricao'];
      ?>
      </td>


      <td width="10%">
      <?
      echo $execucao_temp_v['ds_classe'];
      ?>
      </td>


      <td width="10%">
      <?
      echo $execucao_temp_v['ds_comando'];
      ?>
      </td>      


      <td width="10%">
      <?
      echo $execucao_temp_v['cd_memoria_parametro'];
      ?>
      </td>  

      <td width="1%">
      <?
      echo ( $execucao_temp_v['sn_usar_retorno'] == 1 ? "Sim" : "" );
      ?>
      </td>

      <td width="1%">
      <a href="control/index/alterar_pilha.php?ordenar=im_executa_temp&id=<? echo $execucao_temp_v['id']; ?>&ordem=cima&painel=3">
      ^
      </a>
      </td>

      <td width="1%">
      <a href="control/index/alterar_pilha.php?ordenar=im_executa_temp&id=<? echo $execucao_temp_v['id']; ?>&ordem=baixo&painel=3">
      V
      </a>
      </td>

      <td width="1%">
      <a href="control/index/alterar_pilha.php?excluir=im_executa_temp&id=<? echo $execucao_temp_v['id']; ?>&painel=3">
      X
      </a>
      </td>

      </tr>
      <?
   }
}
?>
<tr>
<td colspan="6">
<label for="textarea">Descrição:</label><br>
<textarea name="descricao" id="descricao" cols="80" rows="4"></textarea>
</td>
</tr>

</table>
<input type="submit" name="button" id="button" value="Salvar Pilha" /> 
<input type="button" name="button" id="button" value="Limpar Pilha" onClick="limparPilha()"/> 
<input type="hidden" name="salvar_pilha" id="" value="1" /> 
<input type="hidden" name="painel" id="painel" value="3" /> 
<input type="hidden" name="limpar_pilha" id="limpar_pilha" value="" /> 
</form>

</div>

<!-- Pilha de execução -->